.headerContainer {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    color: hsl(200, 15%, 8%);
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.headerContainer.nightMode {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.nightModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 60px;
}

.nightModeIcon {
    height: 30px;
    margin-right: 5px;
}

.nightModeDescription {
    font-size: 15px;
}

/* tablet size devices*/
@media (min-width: 376px) and (max-width: 1023px) {
    .nightModeContainer {
        margin: 15px 40px;
    }

    .nightModeDescription {
        font-size: 11px;
    }

    .nightModeIcon {
        height: 23px;
        margin-right: 4px;
    }
}

/* mobile size devices*/
@media (max-width: 375px) {
    .nightModeContainer {
        margin: 10px 20px;
    }

    .nightModeDescription {
        font-size: 11px;
    }

    .nightModeIcon {
        height: 20px;
        margin-right: 3px;
    }
}