.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    color: hsl(200, 15%, 8%);
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.05);
}

.headerContainer.nightMode {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.nightModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 60px;
}

.nightModeIcon {
    height: 30px;
    margin-right: 5px;
}

.nightModeDescription {
    font-size: 15px;
}
